@charset "utf-8";
/* CSS Document */  

html body {
background-image:url("../images/bg-01.png");
background-size:contain;
background-position: cover;
background-repeat: repeat;
font-family: 'Playfair Display', serif;
}
.masthead{
	height: 20vh;
}
form {
   display: inline-block;
}
.kids{
	font-family: 'Playfair Display', serif;
	padding-bottom: 0; 
	margin-bottom: 0px;
}
.teens{
	font-family: 'Playfair Display', serif;
}
.bg-aqua {
  background-color: #24599c !important;
}
.bg-pod {
  background-color: #9502C4 !important;
}

.bg-blog{
	background-color:hsla(0,0%,100%,0.52);
}
.text-aqua{
	color: #24599c !important;
}

.bg-carousel {
	background-color: rgba(0,0,0,0.5) !important;
}

.text-brown{
	color: #432C16 !important;
}

.jumbotron{
	font-family: 'Playfair Display', serif;
}
.dropshadow{
	-ms-box-shadow: 0px 3px 5px #444444;
-moz-box-shadow: 0px 3px 5px #444444;
-webkit-box-shadow: 0px 3px 5px #444444;
box-shadow: 0px 3px 5px #444444;
}
.carousel-inner img {
    width: 100%;
    height: 46vh;
	margin-left: auto;
	margin-right: auto;
  }
.carouselm {
	
}

@media only screen and (max-width: 600px) {
	.carouselm{
		
	}
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


/*footer*/
footer{
	font-family: 'Playfair Display', serif;
}
footer {
  background: #16222A;
  background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
  background: linear-gradient(59deg, #3A6073, #16222A);
  color: white;
  margin-top:100px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #44BCDD;
}

.social-network a.icoLinkedin:hover {
  background-color:#44BCDD;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}

/* kids to top*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:#7FCDCD ;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

/*teen and children banner*/




	.carousel-item {
  height: 100%;
  width: 100%;
  background: no-repeat center center scroll;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.eventlist{
	height: 46vh;
	width: 100%;
}

.carousel-inner img {
    width: 100%;
    height:100%;
	margin-left: auto;
	margin-right: auto;
  }
	
	